@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Set global font styles */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column; /* Add this line */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
}
header {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}
/* Style the container */
.container {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
}

/* Style the headers */
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #132f68;
  text-align: end; /* Align the header to the center */
}


/* Style the loading and spinner */
.loading {
  margin-bottom: 1rem;
}

.loading-spinner {
  display: none;
  margin-bottom: 1rem;
}

/* Style the drop zone */
.drop-zone {
  border: 2px dashed #132f68;
  border-radius: 5px;
  padding: 2rem; /* Increase padding for a larger drop zone */
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  min-height: 200px; /* Set a minimum height for the drop zone */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the controls */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Style the buttons */
button {
  background-color: #132f68;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

/* On hover, change the submit button background color */
button:hover {
  background-color: #1b4796;
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Style the model selector */
#model-selector {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  appearance: none;
  outline: none;
}

/* Style the result */
.result {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .controls {
    flex-direction: column;
  }
}
